/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.6;
    font-family: "Amiri", serif;
    background-color: #0a0a0a;
    color: #7f7f7f;
    border-color: #988372;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* End of CSS Reset */

/* Default Styles */
p {
    font-size: 18px;
    line-height: 28px;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    line-height: 52px;
}

h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

hr {
    border: 0;
    height: 1px;
    width: 70%;
    background-color: #7f7f7f;
    margin: 20px auto;
}

section:not(#home) {
    padding: 0 10%;
}
/* End of Default Styles */

/* Navigation Menu Styles */
nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: #0a0a0a;
    box-shadow: 0 0 10px rgba(152, 131, 114, 0.5);
}
.nav-container {
    width: 100%;
}
#menu-button {
    all: unset;
    height: 40px;
    width: 40px;
    display: flex;
    margin-left: auto;
    right: 0;
}
#menu-button svg {
    color: #7f7f7f;
}

@media (min-width: 600px) {
    #menu-button {
        display: none;
    }
}

nav ul#menu {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin: auto;
}

nav ul#menu li {
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 600px) {
    nav ul#menu {
        flex-direction: row;
        gap: 20px;
        justify-content: space-around;
    }
}

/* End of Navigation Menu Styles */


footer {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.paragraph-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.paragraph-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
}

section .paragraph-container img {
    width: 100%;
    height: auto;
    border: 2px solid #988372;
}

@media (min-width: 600px) {
    .paragraph-container {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
    }

    .paragraph-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;
        min-width: 200px;
        height: auto;
    }

    section .paragraph-container img {
        width: 50%;
        max-width: 600px;
        height: auto;
        border: 2px solid #988372;
    }

    section#home {
        height: 600px;
        /* max-width: calc(100% + 40px);
        margin: 0 -20px; */
        background-image: url("assets/images/header_v01.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    section#contact ul {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    section#contact ul li {
        font-size: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    section#contact ul li img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 8px;
    }

    #NG-logo {
        display: flex;
        margin: 0 auto 20px auto;
        max-width: 1920px;
        overflow: hidden;
        align-self: center;
        height: 800px;
    }
}

#eapps-instagram-feed-1 {
    z-index: -1;
}
#eapps-instagram-feed-1>a[style] {
    display: none!important;
}